.header-container {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.hide-header {
  background: var(--dark-blue);
  backdrop-filter: blur(10rem);
}
