.project-opt-btn {
  background-color: #ffffff20;
  border: none;
  border-radius: var(--default-border-radius);
  color: var(--light-grey);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 0;
  width: 12.5%;
}

.selected-btn {
  color: var(--smoke-white);
}

@media screen and (max-width: 720px) {
  .project-opt-btn {
    font-size: 1.2rem;
    padding: 1rem;
    width: unset;
  }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
  .project-opt-btn {
    width: 15%;
  }
}

@media screen and (min-width: 721px) and (max-width: 840px) {
  .project-opt-btn {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 841px) and (max-width: 920px) {
  .project-opt-btn {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 921px) and (max-width: 1080px) {
  .project-opt-btn {
    font-size: 1.4rem;
  }
}
